<p>
  <%= link_to t('exporter.labels.settings_title'), 
      { controller: 'exporter_settings', action: 'index' },
      class: 'icon icon-settings' %>
</p>

<p class="info">
  <%= t('exporter.labels.plugin_description') %>
</p>

